body {
    margin: 0px;
    background-color: #e1e1e1;
}

p {
    font-family: arial;
}

.topbar {
    position:fixed; 
    width: 100%;
    height: 80px;
    opacity: 100%;
    background-color: #eeeeee;
}

.button {
    position: relative;
    display: table;
    text-align: center;
    width: 200px;
    height: 100%;
    float: left;
}

.buttontext {
    display: table-cell;
    vertical-align: middle;
}